<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by Tun Suraphongchai
  </p>
  <br />
  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'Tun.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Tun Suraphongchai</h2>
    <br />
    <p>
      Tun has had previously worked as head of investments and mergers & acquisitions at Berli Jucker Company (BJC). As BJC head of investments, he has had extensive experience in evaluating and investing in companies in the consumer, health and education sector in Thailand and Vietnam. Notable investments included BJC's 100% investment in Asia Books, 51% investment in Danone Dairy (Thailand), 75% investment in Thai Ahn Joint Stock Company in Vietnam, 70% investment in M-Point Company in Lao. Prior to BJC, Tun has worked at Goldman Sachs in the investment banking division in Hong Kong, where he has executed M&A transactions in the Asia Pacific region.
    </p>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />
</div>